:root {
  --primary-color: #1A1F71; /* Pink */
  --secondary-color: #ffdd57; /* Example contrasting color */
}

body {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

/* Use variables in your components */
.header {
  background-color: var(--primary-color);
}

.footer {
  background-color: var(--secondary-color);
}
